* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  background-color: gray;
  padding: 15px 0px;
  position: relative;

  font-family: "Rufina", serif;
}

.container {
  width: 90%;
  height: 8vh;
  display: flex;
  margin: auto;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}

.left-nav img {
  height: fit-content;
}

.right-nav {
  background-color: #4c4c4c;
  max-width: 100%;
  height: auto;

  position: absolute;
  width: 90%;
  padding: 2rem;
  top: 65px;


  display: flex;
  flex-direction: column;
  gap: 15px;
  
}


.right-nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-nav .menu-list{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px 1px;
  

  background-color: black;
  width: 10vh;
  height: 5vh;

  margin: auto;
  margin-right: 0%;
  border-radius: 5px;
}


.right-nav a {
  color: white;
  font-size: 20px;

  font-family: "Rubik", sans-serif;
  font-size: 14px;

  text-decoration: none;
}

.menu-list p{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: white;
}

.nav-bar i{
  font-size: 50px;
}
  